{% extends 'base.html' %}
{% block content %}
<div class="banner flash">
    <h1>My Flashcards</h1>
</div>
<div class="container flash">
    <div class="column left-column">
        {%if currentCard %}
        <div class="flashcard-study">
            <h3>Flashcards study zone</h3>
            <div class = "single_flashcard">
                <div class="card bg-light">
                    <div class="card-header">{{currentCard.title}}</div>
                    <div class="card-body">
                    {% if revealedCard %}
                        {{currentCard.description}}
                    {% else %}
                        Hidden content
                    {% endif %}
                    </div>
                </div>
                <div class="flash_card_control">
                    <a class="btn btn-success" href="/prev_flashc">Previous</a>
                    {% if not revealedCard %}
                    <a class="btn btn-warning" href="/reveal_flash">Reveal Description</a>
                    {% else %}
                    <a class="btn btn-primary" href="/hide_flash">Hide Description</a>
                    {% endif %}
                    <a class="btn btn-success" href="/next_flashc">Next</a>
                </div>
            </div>
        </div>
        {% endif  %}
        <div class="cards-list">
            <h3>Flashcards list</h3>
            {% if flashcards %}
            {% for f in flashcards %}
            <div class="c-item"> <p>{{ f.title}}</p> <p>{{f.description}}</p>
                {% if sharing and sharingID == f.id %}
                <form method="POST" novalidate>
                    {{share_flashcard_form.hidden_tag()}}
                    <p>{{share_flashcard_form.username.label}}{{share_flashcard_form.username()}}</p>
                    <p>{{share_flashcard_form.submit(class_="btn btn-primary")}} {{share_flashcard_form.cancel(class_="btn btn-danger")}}</p>
                </form>
                {% else  %}
                    <a href="/share_flashcard/{{f.id}}">Share this flashcard</a>
                {% endif %}
            </div>
            {% endfor %} 
            {% else %}
            <div class="well"> No flashcard, you can add more with the form below</div>
            {% endif %}
        </div>
        
<div class="add_flashcard_form">
    <h3>Add a flashcard</h3>
    <form method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p> {{ form.title.label }} {{ form.title(size=32) }}</p>

        <p> {{ form.description.label }} {{ form.description(size=32) }}</p>

        <p> {{ form.add(class_="btn btn-success") }} {{form.cancel(class_="btn btn-danger")}} </p>

    </form> 
</div>
    </div>
    <div class="column right-column">
        <h3>Convert flashcards to PDF</h3>
        <form method='POST' novalidate>
           {{pdf_flash_form.hidden_tag()}}
           <p>{{pdf_flash_form.submit(class_="btn btn-primary")}}</p>
        </form>
        <h3>Render markdown files and output flashcards</h3>
        <form method='POST' novalidate>
           {{md_flash_form.hidden_tag()}}
           <p>{{md_flash_form.filename.label}} {{md_flash_form.filename()}}</p>
           <p>{{md_flash_form.submit(class_="btn btn-primary")}}</p>
        </form>
    </div>
<!--  {% with messages = get_flashed_messages() %}
 {% if messages %}
 <div>
    {% for m in messages %}
    <p>{{ m }}</p>
    {% endfor %}
 </div>
 {% endif %}
 {% endwith %} -->
</div>
             
{% endblock %}
