{% extends 'base.html' %}
{% block content %}
<div class="banner home">
    <h1 class="text-center">Welcome to Unforgettable</h1>
</div>
<ul class="list-group main-features">
    <p>There are 3 main features in the app:</p>
    <li class="list-group-item">a <span class="feature-item">Notes</span> list to memorize</li>
    <li class="list-group-item">a <span class="feature-item">Flashcards</span> system to study</li>
    <li class="list-group-item">a <span class="feature-item">Pomodoro timer</span> to work and study under a certain time limit</li>
</ul>
{% endblock %}