<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unforgettable</title>
</head>
<body>
<h3>Welcome to Unforgettable app, please sign in to start using it</h3>
<h2>Sign in</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
{% endif %}
{% endwith  %}
<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    <p> {{ form.username.label }} <br>
    {{ form.username(size=32) }}</p>

    <p> {{ form.password.label }} <br>
    {{ form.password(size=32) }}</p>

    <p> {{ form.remember_me.label }} <br>
    {{ form.remember_me() }}</p>

    <p>{{ form.submit() }}</p>
</form>
</body>
</html>

