<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css"></script>
    <link rel="stylesheet"  type="text/css" href="./static/css/login.css"/>
    <title>Unforgettable</title>
</head>
<body>
<h3>Welcome to Unforgettable app, please sign in to start using it</h3>
<h2>Sign in</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
    </div>
{% endif %}
{% endwith  %}
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    
    <p> {{ form.username.label }} <br>
    {{ form.username(size=32) }}</p>

    <p> {{ form.password.label }} <br>
    {{ form.password(size=32) }}</p>

    <p> {{ form.remember_me.label }} <br>
    {{ form.remember_me() }}</p>

    <p>{{ form.submit(class_="btn btn-primary") }} {{form.signup(class_="btn btn-success")}}</p>
</form>
</body>
</html>

