{% extends 'base.html' %}
{% block content %}
<h1>Your Notes</h1>

<form method = "Post" novalidate>
    {{form2.hidden_tag()}}
    <p>{{form2.filter.label}} <br> {{form2.filter(size = 32)}}</p>
    <p>{{form2.submit()}}
<form method = "Post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{form.title.label}} <br>{{form.title(size = 32)}}</p>
    <p>{{form.body.label}} <br>{{form.body(size=256)}}</p>
    <p>{{form.password.label}} <br>{{form.password(size = 32)}}</p>
    <p>{{form.submit()}} <br> {{form.cancel()}}</p>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            {% for m in messages %}
            <p>{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}
 {% endwith %}
<body>
    <ul>
        {% for n in all_notes %}
        <li><a href="/open-note/{{n.id}}">{{n.title}}</a> </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}
