{% extends "base.html" %}

{% block content %}
{% if show == True %}

    <form method = "Post" novalidate>
        {{form.hidden_tag()}}
        <p> {{form.pword.label}} <br> {{form.pword(size = 28)}}</p>
        <p>{{form.submit()}}</p>
    </form>
{% endif %}
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for m in messages %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</body>
{% if show == False %}
    <h1>
        {% if aNote %}
            {{aNote.title}}
        {% endif %}
    </h1>
    <p>
        {% if aNote %}
            {{aNote.body}}
        {% endif %}
    </p>
{% endif %}
<form method = "Post" novalidate>
        {{form2.hidden_tag()}}
        <p>{{form2.submit()}}</p>
</form>
{% endblock %}
