<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unforgettable</title>
</head>
<body>
    <h3>Unforgettable</h3> 
    <p>Sign up to increase your productivity today</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
            <b>{{m}}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <b></b>
    <form method="POST" novalidate>
        {{form.hidden_tag()}}
        <p>{{form.username.label}} {{form.username()}}</p>
        <p>{{form.password.label}} {{form.password()}}</p>
        <p>{{form.email.label}} {{form.email()}}</p>
        <p>{{form.submit()}} {{form.login()}}</p>
    </form>
</body>
</html>