{% extends 'base.html' %}
{% block content %}
<h2>My Flashcards</h2>
<div>
    {%if currentCard %}
    <div class = "single_flashcard">
        <div class="card">
            <h4>{{currentCard.title}}</h4>
            {% if revealedCard %}
            <p>{{currentCard.description}}</p>
            {% endif %}
        </div>
        <div class="flash_card_control">
            <a href="/prev_flashc">Previous</a>
            {% if not revealedCard %}
            <a href="/reveal_flash">Reveal Description</a>
            {% else %}
            <a href="/hide_flash">Hide Description</a>
            {% endif %}
            <a href="/next_flashc">Next</a>
        </div>
    </div>
    {% endif  %}
    <h3>Flashcards list</h3>
    {% if flashcards %}
    {% for f in flashcards %}
    <div> <h4>{{ f.title}}</h4> <p>{{f.description}}</p></div>
        {% if sharing and sharingID == f.id %}
        <form method="POST" novalidate>
            {{share_flashcard_form.hidden_tag()}}
            <p>{{share_flashcard_form.username.label}}{{share_flashcard_form.username()}}</p>
            <p>{{share_flashcard_form.submit}} {{share_flashcard_form.cancel()}}</p>
        </form>
        {% else  %}
            <a href="/share_flashcard/{{f.id}}">Share this flash card</a>
        {% endif %}
    {% endfor %} 
    {% else %}
    <p> No flashcard </p>
    {% endif %}
</div>
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 <div>
    {% for m in messages %}
    <p>{{ m }}</p>
    {% endfor %}
 </div>
 {% endif %}
 {% endwith %}
 <h3>Convert flashcards to PDF</h3>
 <form method='POST' novalidate>
    {{pdf_flash_form.hidden_tag()}}
    <p>{{pdf_flash_form.submit()}}</p>
 </form>
 <h3>Render markdown files and output flashcards</h3>
 <form method='POST' novalidate>
    {{md_flash_form.hidden_tag()}}
    <p>{{md_flash_form.filename.label}} {{md_flash_form.filename()}}</p>
    <p>{{md_flash_form.submit}}</p>
 </form>
<div class="add_flashcard_form">
    <h3>Add a flashcard</h3>
    <form method="POST" novalidate>
        {{ form.hidden_tag() }}

        <p> {{ form.title.label }} {{ form.title(size=32) }}</p>

        <p> {{ form.description.label }} {{ form.description(size=32) }}</p>

        <p> {{form.cancel()}} {{ form.add() }} </p>

    </form> 
</div>

             
{% endblock %}
